[[source]]
name="pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"
black = "*"

[packages]
Django = "*"
gunicorn = "*"
pillow = "*"
django-allauth = "*"
django-feather = "*"
argon2-cffi = "*"
django-redis = "*"
redis = "*"
django-storages = "*"
python-decouple = "*"
django-environ = "*"
django-imagekit = "*"
django-widget-tweaks = "*"
django-cleanup = "*"
django-simple-svg = "*"
slippers = "*"
whitenoise = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
